# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules/

# Tailwind CSS build output
src/output.css  # You're using CLI to build this file manually

# Vite build output
dist/
dist-ssr/

# Env files
*.local
.env
.env.*

# Editor/IDE settings
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS system files
.DS_Store        # macOS
.Trash-*         # Linux
Thumbs.db        # Windows
